<!DOCTYPE html>
<html>
  <body>
    <h2>Welcome to the Universe of Infinite Cats!</h2>
    <p>
      You are now a proud ambassader for cats.<br/>
      Your new name is: <%= @user.login %>.<br/>
      Click this link to serve more cats: <%= @url %>.<br/><br/>
      Now go. Uphold your duty and serve your cat well.
    </p>
  </body>
</html>
