<label for="rental"></label>
<h1 id="rental"> Rent a Cat </label>
<%= render "form", valid_cats: @cats %>

<% content_for :footer do %>
  <p>This is the new cat_rental_request form page</p>
<% end %>
