<form action="/comments" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <input type="hidden" name="comment[post_id]" value="<%= post.id %>">
  <input type="hidden" name="comment[parent_id]" value="<%= parent_id %>">
  <textarea name="comment[content]" placeholder="Enter your comment..."></textarea>

  <button>Submit</button>
</form>
