<h2>Sign In</h2>

<form action="/session" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>" >


  

  <br/><br/>

  <button>Sign In</button>
</form>
