<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript">
      // window.currentUser = {"id":1, "username":"user"}
      window.currentUser = <%=  %>
    </script>
    <title>Bench BNB</title>
  </head>

  <body>
    <main id="root">Root Div</main>
  </body>
</html>
