<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript">
      <% if logged_in? %>
        window.currentUser = <%= render(
          "api/users/user.json.jbuilder",
          user: current_user).html_safe
        %>
      <% end %>
    </script>
    <title>Bench BNB</title>
  </head>

  <body>
    <main id="root">Root Div</main>
  </body>
</html>
